[2020-04-18 19:34] kariljordan opened #1 "Empowering more people to work with data and software."
Strategic Objective: Encourage Core Team and Community members to serve on advisory boards of other organisations to provide guidance and advocacy in areas key to The Carpentries mission and vision and respond to requests for comments in these areas.

This issue collects information on boards or committees that Carpentries' Core Team and community members are a part of.

[2020-04-18 19:39] kariljordan opened #2 "Building relationships with like-minded organisations"
[Goal 6](https://github.com/carpentries/strategic-plan/blob/main/STRATEGIC-PLAN.md#goal-6-advocate-for-our-values-and-vision-to-empower-more-people-to-work-with-data-and-software) in the Carpentries strategic plan is to _**Advocate for our values and vision to empower more people to work with data and software.**_ Under this goal is the following objective:

Intentionally reach out to related comm

[2020-04-18 19:40] kariljordan opened #3 "Speaking and presenting on behalf of The Carpentries"
Objective: Identify speaking and presenting opportunities for Core Team, Executive Council, and Community members that are strategically appropriate to strengthen the visibility of The Carpentries and model our values.

- Karen and Kari are speaking at the Python Trainers Summit

[2020-04-18 19:50] kariljordan opened #4 "Lesson Program Governance Structure"
[Goal 5](https://github.com/carpentries/strategic-plan/blob/master/STRATEGIC-PLAN.md#goal-5-strengthen-organisational-structure-and-capacity-to-be-strategic-and-responsive) in the Carpentries strategic plan is to _**Strengthen organisational structure and capacity to be strategic and responsive.**_ Under this goal is the following objective:

Create an organised and engaged Lesson Program governan

[2020-04-18 19:53] kariljordan opened #5 "Address privacy management, copyright, and trademarks"
**Objective:** Be aware of and implement best practices in privacy management, copyright, and trademarks.

- François is leading a project on GDPR compliance.

[2020-04-18 19:54] kariljordan opened #6 "Piloting Volunteer Agreement"
**Objective:** Work with our fiscal sponsor to establish guidelines and methods to conduct business internationally, to manage volunteers, and to explore other relevant activities.

[2020-04-20 23:58] kariljordan opened #7 "Developing Membership Models through Libraries"
**Objective:** Update the model for Carpentries Membership to match the needs of different types of communities, support the development of local capacity for training, improve operational efficiency, and be a significant part of the revenue model that provides adequate funding to sustain Carpentries activities.

Progress Feb 17 - March 31, 2020
**California Consortia Pilot - Ariel Deardorff (UCSF

[2020-05-08 15:48] kariljordan opened #8 "Pilot Regional Plan for South Africa"

[2020-05-08 15:49] kariljordan opened #9 "Create lesson template prototype for Carpentries Incubator Program"
[Goal 4](https://github.com/carpentries/strategic-plan/blob/master/README.md#goal-4-facilitate-the-creation-and-maintenance-of-relevant-high-quality-community-curated-curricula) of our strategic plan is to "Facilitate the creation and maintenance of relevant, high-quality, Community-curated curricula."

Two objectives under this goal are:
- Improve the overall experience for contributors by develo

[2020-05-08 15:53] kariljordan opened #10 "Develop Maintainer onboarding process and curriculum"
[Goal 4](https://github.com/carpentries/strategic-plan#goal-4-facilitate-the-creation-and-maintenance-of-relevant-high-quality-community-curated-curricula) of our strategic plan is to "Facilitate the creation and maintenance of relevant, high-quality, Community-curated curricula." One of the objectives under this goal is to "Develop a comprehensive Maintainer program including onboarding, mentorsh

[2020-05-08 15:53] kariljordan opened #11 "Document Current MOU offerings, templates and recommendations for further MOU Collaborations"
[Goal 5](https://github.com/carpentries/strategic-plan#goal-5-strengthen-organisational-structure-and-capacity-to-be-strategic-and-responsive) of The Carpentries Strategic Plan reads: Strengthen organisational structure and capacity to be strategic and responsive.

Two objectives under this goal are:

1. Pursue grant opportunities and explore ways to manage and diversify our revenue streams, inclu

[2020-05-08 15:54] kariljordan opened #12 "Track & Refine Grants Workflow"
[Goal 5](https://github.com/carpentries/strategic-plan#goal-5-strengthen-organisational-structure-and-capacity-to-be-strategic-and-responsive) of The Carpentries Strategic Plan reads: Strengthen organisational structure and capacity to be strategic and responsive.

One objectives under this goal is:

1. Establish workflow and documentation for our essential ongoing processes (e.g. budget creation

[2020-05-08 15:55] kariljordan opened #13 "Develop and Refine CarpentryConnect Planning Kit"
<ins>**Context**</ins>

CarpentryConnects are community convenings, organised to bring together community members of The Carpentries that are in close proximity geographically for knowledge exchange, collaboration and networking. As our community has grown in leaps and bounds over time, and these local and regional Carpentries events have become more popular in the last year, and because community

[2020-05-08 15:57] kariljordan opened #14 "Develop Roadmap for the Community Facilitators Project"
**<ins>Context</ins>**
In 2019, Kari Jordan, Tracy Teal, Sher! Hurt and Serah Rono constituted a working group that discussed supporting community members through conflict. From our working group's deliberations, we saw the need to set up a task force that would issue recommendations for dealing with incidents that come up in spaces where our community members are but whose review and resolution f

[2020-05-08 15:58] kariljordan opened #15 "Create Membership Onboarding"
We now have a [membership onboarding packet](https://docs.google.com/document/d/1UQA_bRrFVsjCHuosIz6IoT1RHclvuu3rGx1d2PUsKaU/edit) that is sent to new members with information about how to use their benefits. We have piloted a more involved membership onboarding for the 5 seed IMLS members which includes face-to-face meetings with the ED ([link to slide deck](https://docs.google.com/presentation/d

[2020-05-08 16:01] kariljordan opened #16 "Document Lessons Learned from Hiring Internationally"
[Goal 5](https://github.com/carpentries/strategic-plan/blob/master/README.md#goal-5-strengthen-organisational-structure-and-capacity-to-be-strategic-and-responsive) of our strategic plan is to "Strengthen organisational structure and capacity to be strategic and responsive."

Two of the objectives under this goal are:
- Develop fair and equitable human resource policies for Core Team members in co

[2020-05-08 16:02] kariljordan opened #17 "Develop Maintainer Retirement Process"
[Goal 4](https://github.com/carpentries/strategic-plan/blob/master/README.md#goal-4-facilitate-the-creation-and-maintenance-of-relevant-high-quality-community-curated-curricula) of our strategic plan is to "Facilitate the creation and maintenance of relevant, high-quality, Community-curated curricula."

One of the objectives under this goal is:
- Develop a comprehensive Maintainer program includin

[2020-05-08 16:03] kariljordan opened #18 "Launch help wanted page for lesson contributions and maintenance"
[Goal 4](https://github.com/carpentries/strategic-plan/blob/master/README.md#goal-4-facilitate-the-creation-and-maintenance-of-relevant-high-quality-community-curated-curricula) of our strategic plan is "Facilitate the creation and maintenance of relevant, high-quality, Community-curated curricula."

One of the objectives under this goal is to:
- Improve the overall experience for contributors by

[2020-05-08 16:05] kariljordan opened #19 "Make Progress on The Carpentries Incubator Program"
Under our current grant funding, we have specific obligations on developing [The Carpentries Incubator](https://github.com/carpentries-incubator/proposals/blob/master/README.md). This includes:

- [x] Minimum viable product platform, consisting of: a stable repository for lessons; an indexing system for locating relevant materials; and a clear pathway for users to submit content.
- [ ] User testin

[2020-05-08 16:06] kariljordan opened #20 "Develop first set of modules to train Community Facilitators for The Carpentries"
**<ins>Context</ins>**
In 2019, Kari Jordan, Tracy Teal, Sher! Hurt and Serah Rono constituted a working group that discussed supporting community members through conflict. From our working group's deliberations, we saw the need to set up a task force that would issue recommendations for dealing with incidents that come up in spaces where our community members are but whose review and resolution f

[2020-05-08 16:06] kariljordan opened #21 "Establish recurring cycles for Maintainer Recruitment and Retirement"
[Goal 4](https://github.com/carpentries/strategic-plan#goal-4-facilitate-the-creation-and-maintenance-of-relevant-high-quality-community-curated-curricula) of our strategic plan is to "Facilitate the creation and maintenance of relevant, high-quality, Community-curated curricula." One of the objectives under this goal is to:

- Develop a comprehensive Maintainer program including onboarding, mento

[2020-05-08 16:07] kariljordan opened #22 "Make Progress on The Carpentries Incubator Program"
Under our current grant funding, we have specific obligations on developing [The Carpentries Incubator](https://github.com/carpentries-incubator/proposals/blob/master/README.md). This includes:

- [x] Editorial process for adapting existing curriculum for compliance with guidelines and inclusion
- [x] At least 3 lessons for biologists (image analysis, machine learning and/or single cell analysis)

[2020-05-08 16:08] kariljordan opened #23 "Instructor Training Curriculum Updates"
The Instructor Training curriculum is a mechanism for meeting many of the goals in the Strategic Plan. It is the primary mode of [professional development](https://github.com/carpentries/strategic-plan#goal-3-provide-opportunities-for-growth-and-professional-development-of-our-volunteers-and-core-team) available to community volunteers. It is the sole source of instruction on community standards a

[2020-05-08 16:08] kariljordan opened #24 "Planning Volunteer Agreement"
[Goal 5](https://github.com/carpentries/strategic-plan/blob/master/STRATEGIC-PLAN.md#goal-5-strengthen-organisational-structure-and-capacity-to-be-strategic-and-responsive) in the Carpentries strategic plan is to _**Strengthen organisational structure and capacity to be strategic and responsive.**_ Under this goal is the following objective:
- Work with our fiscal sponsor to establish guidelines a

[2020-05-08 16:09] kariljordan opened #25 "Continue Plan and Pilot of Community Facilitators Program"
**<ins>Context</ins>**
In 2019, Kari Jordan, Tracy Teal, Sher! Hurt and Serah Rono constituted a working group that discussed supporting community members through conflict. From our working group's deliberations, we saw the need to set up a task force that would issue recommendations for dealing with incidents that come up in spaces where our community members are but whose review and resolution f

[2020-05-08 16:09] kariljordan opened #26 "Pilot CarpentryConnect Kit in a Regional CarpentryConnect"
[Goal 1](https://github.com/carpentries/strategic-plan/blob/master/STRATEGIC-PLAN.md#goal-1-build-regional-and-local-capacity-to-empower-sustainable-communities) is to _**Build regional and local capacity to empower sustainable communities.**_ One of the objectives under goal 1 is:

Develop a kit of resources, templates, and documentation to help build local communities and enable them to run thei

[2020-05-08 16:10] kariljordan opened #27 "The carpentries.org content redesign"
Carpentries Team dedicates time to read, research and learn about web accessibility as a necessary prerequisite to signing up for a design thinking workshop as a team in Phase 2 and the start of website redesign work in phase 3.

The three phases are:
- [x] phase 1: deep dive into web accessibility (Q4 2020)
- [x] phase 2: design thinking workshop with web accessibility in mind (Q1 and Q2 2021)
-

[2020-05-08 16:11] kariljordan opened #28 "Develop Plan to Strategically Engage Libraries and Computational Centers"
[Goal 1](https://github.com/carpentries/strategic-plan#goal-1-build-regional-and-local-capacity-to-empower-sustainable-communities) of The Carpentries Strategic Plan reads: Build regional and local capacity to empower sustainable communities.

One objective under this goal is: Develop a plan for strategically engaging libraries and research computing centres as Carpentries hubs for their instituti

[2020-05-08 16:12] kariljordan opened #29 "Develop Roles and Responsibilities for Curriculum Advisors Program"
[Goal 4](https://github.com/carpentries/strategic-plan#goal-4-facilitate-the-creation-and-maintenance-of-relevant-high-quality-community-curated-curricula) of our strategic plan is to "Facilitate the creation and maintenance of relevant, high-quality, Community-curated curricula.". One of the objectives under this goal is:

- Develop a Community-led Curriculum Advisors program, including roles and

[2020-05-08 16:13] kariljordan opened #30 "Make Progress on The Carpentries Incubator Program"
Under our current grant funding, we have specific obligations on developing [The Carpentries Incubator](https://github.com/carpentries-incubator/proposals/blob/master/README.md). This includes:

- [x] At least 3 lessons for biologists (image analysis, machine learning and/or single cell analysis)
- [ ] A plan defining a strategy to scale up the results of the pilot

As of May 2020, we already have

[2020-05-08 16:13] kariljordan opened #31 "Develop Accessibility Roadmap for Lesson Contributions"
[Goal 2](https://github.com/carpentries/strategic-plan/blob/master/STRATEGIC-PLAN.md#goal-2-intentionally-incorporate-equity-inclusion-and-accessibility-to-support-a-diverse-community) of the Carpentries Strategic Plan is to _**Intentionally incorporate equity, inclusion, and accessibility to support a diverse community.**_ One of the objectives under this goal is:
- Create a roadmap for improving

[2020-05-08 16:14] kariljordan opened #32 "Launch Phase 2 of a three-phase project on carpentries.org content redesign"
Phase 1 work constituted reading on, researching and learning about web accessibility as a necessary prerequisite to signing up for a design thinking workshop as a team.

In phase 2, Carpentries Team goes through design thinking process and finds a designer. In this phase, we will need to sit in for design thinking workshops for a percentage of our Professional Development time as a team. This wil

[2020-05-08 16:15] kariljordan opened #33 "Carry out first pilot of Community Facilitators Program"
**<ins>Context</ins>**
In 2019, Kari Jordan, Tracy Teal, Sher! Hurt and Serah Rono constituted a working group that discussed supporting community members through conflict. From our working group's deliberations, we saw the need to set up a task force that would issue recommendations for dealing with incidents that come up in spaces where our community members are but whose review and resolution f

[2020-05-08 16:15] kariljordan opened #34 "Develop roadmap for accessibility improvements"
[Goal 2](https://github.com/carpentries/strategic-plan/blob/master/STRATEGIC-PLAN.md#goal-2-intentionally-incorporate-equity-inclusion-and-accessibility-to-support-a-diverse-community) of the Carpentries Strategic Plan is to _**Intentionally incorporate equity, inclusion, and accessibility to support a diverse community.**_ One of the objectives under this goal is:
- Create a roadmap for improving

[2020-05-08 16:16] kariljordan opened #35 "Launch bonus IT module: Introduction to online training practices for current Instructors"
[Goal 3](https://github.com/carpentries/strategic-plan#goal-3-provide-opportunities-for-growth-and-professional-development-of-our-volunteers-and-core-team) of The Carpentries Strategic Plan reads: **Provide opportunities for growth and professional development of our volunteers and Core Team.**  Among the objectives is:

- Develop Instructor Training refresher modules to keep Trainers current in

[2020-05-08 16:27] kariljordan opened #36 "Implement Best Practices in Privacy Management, Copyright, and Trademarks"
[Goal 5](https://github.com/carpentries/strategic-plan/blob/master/STRATEGIC-PLAN.md#goal-5-strengthen-organisational-structure-and-capacity-to-be-strategic-and-responsive) in the Carpentries strategic plan is to _**Strengthen organisational structure and capacity to be strategic and responsive.**_ Under this goal is the following objective:

- Be aware of and implement best practices in privacy m

[2020-05-08 16:29] kariljordan opened #37 "Develop Quarterly Budget Workflow"
[Goal 5](https://github.com/carpentries/strategic-plan#goal-5-strengthen-organisational-structure-and-capacity-to-be-strategic-and-responsive) of The Carpentries Strategic Plan reads: Strengthen organisational structure and capacity to be strategic and responsive.

One objectives under this goal is:

1. Establish workflow and documentation for our essential ongoing processes (e.g. budget creation

[2020-05-08 16:32] kariljordan opened #38 "Develop Core Team Structures"
[Goal 5](https://github.com/carpentries/strategic-plan#goal-5-strengthen-organisational-structure-and-capacity-to-be-strategic-and-responsive) of The Carpentries Strategic Plan reads: Strengthen organisational structure and capacity to be strategic and responsive.

One objective under this goal is:

1. Develop Core Team structures (e.g. programmatic team roles, supervisory structures) that enable

[2020-05-08 16:35] kariljordan opened #39 "Carpentries in Africa"
[Goal 1](https://github.com/carpentries/strategic-plan/blob/master/STRATEGIC-PLAN.md#goal-1-build-regional-and-local-capacity-to-empower-sustainable-communities) is to _**Build regional and local capacity to empower sustainable communities.**_ One of the objectives under goal 1 is:

Develop a plan to work with local and regional communities to ensure they are supported appropriately by Regional Co

[2020-05-08 16:38] kariljordan opened #40 "Identify Funding Model to Potentially Pilot"
[Goal 5](https://github.com/carpentries/strategic-plan#goal-5-strengthen-organisational-structure-and-capacity-to-be-strategic-and-responsive) of The Carpentries Strategic Plan reads: Strengthen organisational structure and capacity to be strategic and responsive.

One objective under this goal is:

1. Pursue grant opportunities and explore ways to manage and diversify our revenue streams, includi

[2020-05-09 00:11] #8 closed, assigned to nobody

[2020-05-29 21:18] maneesha opened #42 "Repo changed from private to public"
Putting this issue here just to have a record (and immediately closing it as no further action is required).

At the request of @kariljordan  this repo was changed from private (available only to The Carpentries Executive Council and Core Team) to public on 2020-05-29.

[2020-05-29 21:18] #42 closed

[2020-07-01 12:35] elletjies commented on #39
Updated the EIA work we are doing

[2020-07-01 12:39] elletjies commented on #39
Also updated Q1-Q2 to Q4

[2020-07-17 17:05] ErinBecker commented on #10
Goal of "Certify newly onboarded Maintainers" has been met and [blog post announcing new Maintainers](https://carpentries.org/blog/2020/07/maintainer-welcome-2020/) is out!

[2020-08-19 23:04] zkamvar commented on #9
## Update

We have been tackling this goal in several ways and have identified a clear path forward as outlined in our blog post: https://carpentries.org/blog/2020/08/lesson-template-design/. To date, we have prototyped resources for creating, maintaining, and validating lessons using RMarkdown, which allows people to write markdown lessons that can be evaluated in R, python, SQL, Bash, etc.

Belo

[2020-11-03 12:45] serahrono commented on #20
We recently [announced the launch of our Community Facilitators Program](https://carpentries.org/blog/2020/09/introducing-community-facilitators-program/) in The Carpentries. This week will mark the end of the onboarding period for [our first cohort of community facilitators whose focus will be feedback facilitation](https://carpentries.org/blog/2020/09/apply-feedback-facilitators-cohort/) over th

[2020-11-03 12:50] serahrono commented on #26
Community members in The Nordics and East Coast US have requested that we revisit this in Q2 2021. @kariljordan I propose that we change the timeline label to Q2 2021.

[2021-03-01 18:31] kariljordan commented on #40
We explored several potential funding models including developing a sponsorship program and piloting a fundraising campaign. As we are waiting for the Executive Council to provide guidance on the sponsorship model, we piloted our first fundraising campaign in Q42020. The outcomes of this plan were:

- Carpentries Philanthropy email list
- Fundraising Campaign Workflow
- We raised $15,445

For more

[2021-03-01 18:31] #40 closed

[2021-03-01 18:35] kariljordan commented on #37
The Business Team developed a quarterly budget workflow and piloted it in 2020. This workflow includes expenses for salaries, grant expenses, infrastructure, etc.

[2021-03-01 18:35] #37 closed

[2021-03-01 18:39] kariljordan commented on #11
We have put together a [document ](https://docs.google.com/document/d/1vrPWjXOIrL_LFNpXdUhWpMFgiX0wL4T7dtd2P2yznQI/edit#heading=h.fypoemwuknz3) outlining all of our current and expired MOUs. As The Business Team is learning more about the challenges of our current volunteer roles from a taxation perspective, we do not have a list of potential MOUs as of yet. We are working with CI to understand th

[2021-03-01 18:39] #11 closed

[2021-03-01 18:40] kariljordan commented on #12
We have a template Asana project for grants that we are using to track all of our grant deliverables and expenses. We have been using this workflow consistently for one year.

[2021-03-01 18:40] #12 closed

[2021-03-01 18:47] kariljordan commented on #28
In September 2019, we announced Goal 5 of [The Carpentries Strategic Plan](https://static.carpentries.org/strategic-plan/), specifically, our objective to develop opportunities for more communities to participate in workshops and Memberships through programs that plan for and offset associated costs. Our goal is to provide continued support for workshops and instructor training, as well as create

[2021-03-01 18:47] #28 closed

[2021-03-16 14:21] serahrono commented on #26
[We will also have CarpentryConnect South Africa running in September 2021](https://eventfund.codeforscience.org/announcing/), and can add a Q3 2021 label.

[2021-03-16 14:24] karenword commented on #23
We are in the midst of updates currently. We hope to have them mostly completed within Q2, and anticipate a substantial rollout period including community testing and feedback prior to merging in the main repository in Q3. Updates are currently taking place in a sandbox repository: https://github.com/data-lessons/instructor-training

[2021-03-16 14:24] sheraaronhurt commented on #34
This will be what will be the focus of Q2 for the Workshop Admin Team. This term we were onboarding a new Workshop Administrator and finalizing the Automation.

[2021-03-16 14:25] karenword commented on #35
All 'to do' items are complete, but I am leaving this item open because we do hope to continue to advance work on the bonus modules in 2021, adding one or more additional topics.

[2021-03-16 14:25] serahrono commented on #33
This is going really well, had a check-in with individual facilitators this week, and there is interest in extending their feedback facilitation fellowship for a year, in place of the six months originally proposed. This is a great idea, and we will do that. Their ongoing feedback collection and facilitation work is being tracked [in the Community Facilitators repository](https://github.com/carpen

[2021-03-16 14:25] fmichonneau commented on #36
This year we:
- drafted new versions of our privacy policy
- drafted terms & conditions, cookies policy
- drafted internal privacy policies and security policy
- completed an inventory of our data flows and practices
- piloted the use of Data Protection Impact Assessments for some of our teams

Current on-going work includes:
- account inventory (who has access to what?)
- redefinition of permissi

[2021-03-16 14:26] tobyhodges commented on #10
I think the updated Onboarding curriculum was published. @erinbecker can you confirm please?

[2021-03-16 14:27] ErinBecker commented on #15
We now have a [membership onboarding packet](https://docs.google.com/document/d/1UQA_bRrFVsjCHuosIz6IoT1RHclvuu3rGx1d2PUsKaU/edit) that is sent to new members with information about how to use their benefits. We have piloted a more involved membership onboarding for the 5 seed IMLS members which includes face-to-face meetings with the ED ([link to slide deck](https://docs.google.com/presentation/d

[2021-03-16 14:32] serahrono commented on #32
Community Development Team has made good progress in this regard, particularly in thinking about challenges and gaps in the current design of our website and handbook and summarising these in a way that will be useful for the designer. We have identified a designer, and hope to start work with them in Q2 2021. Because of our Core Team retreat and all prep work around it, our Design Thinking work w

[2021-03-16 19:20] #32 closed

[2021-03-16 19:33] kariljordan commented on #33
Amazing! Thanks so much.

[2021-03-16 19:33] #33 closed

[2021-03-31 20:18] ErinBecker commented on #10
Angelia Li substantially updated the Maintainer Onboarding curriculum in June/July 2020, but it was never officially published on Zenodo. The [Maintainer Onboarding section in The Carpentries Handbook](https://docs.carpentries.org/topic_folders/maintainers/maintainers.html#maintainer-onboarding) still mentions using Google Groups, which means its at least 2 years out of date.

Work on this item ne

[2021-04-09 14:22] kariljordan commented on #39
The pilot plan for capacity building in South Africa is complete. A full retrospective is available in [this GitHub repository](https://github.com/AngeliquevanRensburg/Carpentries-in-South-Africa-Retrospective-2020).

[2021-04-09 15:39] kariljordan commented on #20
So proud of this work! Thank you Serah.

[2021-04-09 15:39] #20 closed

[2021-04-09 15:46] #15 closed

[2021-04-09 15:47] #14 closed

[2021-04-09 15:47] #13 closed

[2021-04-09 15:56] tobyhodges commented on #18
[The page was launched in October 2020](https://carpentries.org/blog/2020/10/announcing-the-new-help-wanted-page/). Maintainers can opt into having their lesson included on the page, and can refer to guidance on the page itself and [in the community handbook](https://docs.carpentries.org/topic_folders/maintainers/github_labels.html) to learn more about how to label their issues and use the page ef

[2021-04-09 15:57] tobyhodges commented on #18
The Curriculum Team is exploring options to provide additional filtering/searching of this page, as well as the Community Developed Lessons page, and hope to have something in place in the coming months.

[2021-04-09 19:31] kariljordan opened #44 "Trainers Leadership Governance"
[GOAL 1](https://github.com/carpentries/strategic-plan/blob/master/STRATEGIC-PLAN.md#goal-1-build-regional-and-local-capacity-to-empower-sustainable-communities) of the Carpentries strategic plan is to **_build regional and local capacity to empower sustainable communities._** Our Instructor Training program is a vital component of local capacity building. Two of the objectives under goal 1 are:
-

[2021-04-09 19:33] kariljordan commented on #25
@serahrono as this work is ongoing, I'd like to propose that we rename this issue **Community Facilitators Program** and add a comment to share next steps with the Code of Conduct Facilitators.

[2021-04-09 19:47] kariljordan commented on #36
We are in the process of transfering all of our current registrations and registering **The Carpentries** name and logo. Our trademarking priorities are:

- Current Registrations:
  - SWC: USA, [WO/WIPO](https://www.wipo.int/portal/en/index.html)
  - DC: USA
- New Registrations
  - Name: USA
  - Logo: USA

[2021-04-09 19:52] kariljordan commented on #17
This issue is a duplicate of #21, so I will close this now.

[2021-04-09 19:52] #17 closed

[2021-04-09 20:04] kariljordan opened #45 "Solidifying Community Leadership Roles"
[Goal 3](https://github.com/carpentries/strategic-plan/blob/master/STRATEGIC-PLAN.md#goal-3-provide-opportunities-for-growth-and-professional-development-of-our-volunteers-and-core-team) is to _**Provide opportunities for growth and professional development of our volunteers and Core Team.**_ One of the objectives under goal 3 is:
- Solidify current committee leadership roles, responsibilities, an

[2021-04-09 20:07] kariljordan commented on #45
After approving this policy, the EC realised that they should have involved current Committees and Task Forces (and the wider Carpentries community) while formulating these policies. They apologised for this omission and now have thus a two-fold request:
1) committees and task forces should begin preparations to adhere to the policy
2) please give the EC feedback on things the Committees and Task

[2021-04-09 20:13] kariljordan opened #46 "Executive Council Standing Committees"
[Goal 3](https://github.com/carpentries/strategic-plan/blob/master/STRATEGIC-PLAN.md#goal-3-provide-opportunities-for-growth-and-professional-development-of-our-volunteers-and-core-team) is to _**Provide opportunities for growth and professional development of our volunteers and Core Team.**_ One of the objectives under goal 3 is:
- Solidify current committee leadership roles, responsibilities, an

[2021-04-09 20:14] kariljordan commented on #46
The Executive Council is currently piloting the standing committee structure for the 2021 term.

[2021-04-09 20:19] kariljordan opened #47 "Develop materials to use/adapt when advocating for The Carpentries"
[Goal 6](https://github.com/carpentries/strategic-plan/blob/master/STRATEGIC-PLAN.md#goal-6-advocate-for-our-values-and-vision-to-empower-more-people-to-work-with-data-and-software) is to _**Advocate for our values and vision to empower more people to work with data and software.**_ One of the objectives under goal 6 is:
- Develop slide decks and other supporting materials for the Core Team, Execu

[2021-04-09 20:56] kariljordan opened #48 "Onboarding for Member Organisations"
[Goal 1](https://github.com/carpentries/strategic-plan/blob/master/STRATEGIC-PLAN.md#goal-1-build-regional-and-local-capacity-to-empower-sustainable-communities) is to _**Build regional and local capacity to empower sustainable communities.**_ One of the objectives under goal 1 is:
- Develop an Onboarding for Member Organisations that empowers them to build community locally and connect globally,

[2021-04-09 21:06] kariljordan opened #49 "Internationalisation"
[Goal 2](https://github.com/carpentries/strategic-plan/blob/master/STRATEGIC-PLAN.md#goal-2-intentionally-incorporate-equity-inclusion-and-accessibility-to-support-a-diverse-community) of the Carpentries Strategic Plan is to _**Intentionally incorporate equity, inclusion, and accessibility to support a diverse community.**_ One of the objectives under this goal is: Improve mechanisms for participa

[2021-04-09 21:08] kariljordan commented on #49
In July 2020 The Carpentries [announced Glosario](https://carpentries.org/blog/2020/07/announcing-glosario/), an open source, multilingual glossary of data science terms. Since that blogpost was published, almost 200 more terms have been added to the glossary in English, along with many more definitions in other languages. In the future, the resource will help lesson developers and maintainers mak

[2021-04-09 21:11] kariljordan commented on #49
More conversations on internationalisation are happening on the [#internationalisation Slack channel](https://swc-slack-invite.herokuapp.com) under The Carpentries Slack organisation.

[2021-04-09 21:18] kariljordan opened #50 "Instructor Training Bonus Module on Equity, Inclusion, and Accessibility"
[Goal 3](https://github.com/carpentries/strategic-plan/blob/main/STRATEGIC-PLAN.md#goal-3-provide-opportunities-for-growth-and-professional-development-of-our-volunteers-and-core-team) of the Carpentries Strategic Plan is to _**Provide opportunities for growth and professional development of our volunteers and Core Team.**_ One of the objectives under this goal is:
- Develop Instructor Training re

[2021-04-09 21:22] kariljordan commented on #9
@ErinBecker pointed out that the [launch of our Help Wanted page](https://carpentries.org/blog/2020/10/announcing-the-new-help-wanted-page/) goes a long way towards the last goal of curating contribution opportunities.

[2021-04-09 21:26] kariljordan opened #51 "Piloting a Carpentries Sponsorship Program"
[Goal 5](https://github.com/carpentries/strategic-plan/blob/master/STRATEGIC-PLAN.md#goal-5-strengthen-organisational-structure-and-capacity-to-be-strategic-and-responsive) in the Carpentries strategic plan is to _**Strengthen organisational structure and capacity to be strategic and responsive.**_ Under this goal is the following objective:
- Pursue grant opportunities and explore ways to manage

[2021-04-09 21:29] kariljordan opened #52 "Updating The Carpentries Membership Model & Membership Processing Workflow"
[Goal 5](https://github.com/carpentries/strategic-plan/blob/master/STRATEGIC-PLAN.md#goal-5-strengthen-organisational-structure-and-capacity-to-be-strategic-and-responsive) in the Carpentries strategic plan is to _**Strengthen organisational structure and capacity to be strategic and responsive.**_ Under this goal is the following objective:
- Update the model for Carpentries Membership to match t

[2021-04-09 21:33] kariljordan opened #53 "Creation of an Equity Council"
[Goal 2](https://github.com/carpentries/strategic-plan/blob/master/STRATEGIC-PLAN.md#goal-2-intentionally-incorporate-equity-inclusion-and-accessibility-to-support-a-diverse-community) of the Carpentries Strategic Plan is to _**Intentionally incorporate equity, inclusion, and accessibility to support a diverse community.**_ One of the objectives under this goal is:
- Create an Equity Council to wo

[2021-04-09 21:35] kariljordan commented on #38
The Executive Team developed a [pathway for promotions and raises](https://docs.google.com/document/d/1m3FhMve2DSWFc1JxJ0akHnB4MFtm_fY4XmmKJ-nJICM/edit#heading=h.97alr1r4324n) document that has been reviewed by the Core Team. We incorporated their feedback and it is operational.

[2021-04-09 21:38] kariljordan commented on #52
Copied over from #7:

Progress  was made Feb 17 - March 31, 2020 in researching how to develop membership models through libraries.
**California Consortia Pilot - Ariel Deardorff (UCSF) and Catherine Nancarrow (CDL)**
- Established scope of work and timeline
- Conducted check-In Meetings
- Scanning the landscape and researching options for consortia type business models
- Analyze UC Membership Dat

[2021-04-09 21:39] kariljordan commented on #7
Closing this issue to streamline with #52.

[2021-04-09 21:39] #7 closed

[2021-04-09 21:40] kariljordan commented on #6
Closing this issue as it is duplicate with #24.

[2021-04-09 21:40] #6 closed

[2021-04-10 00:06] zkamvar commented on #9
Update on the new lesson template
---------------------------------

This addresses the following aspect:

As of 2021-04-09 we have our new template called [{sandpaper}] entering alpha phase. A landscape view of the template (living document) can be found at https://zkamvar.github.io/stunning-barnacle/ the rollout plan (also a living document) for the alpha phase that defines the audience and comp

[2021-04-13 18:54] kmomar commented on #47
The current plan for this is as follows:
- Meet with Core Team members to get a sense of the need and use cases for these slide decks and templates and to engage them in dialogue about how many pieces we will need to create
- Create tasks/subtasks in the comms implementation asana project.
- Create drafts by Early June
- Editing and refining process
- Begin use in July

[2021-04-13 21:58] kariljordan commented on #45
Related: https://github.com/carpentries/docs.carpentries.org/issues/700

[2021-04-21 17:26] ErinBecker commented on #16
We have incorporated our experiences with international hiring and contracting into the internal hiring workflow and Asana template. We now have a process for determining feasibility of hiring in a new country, benchmarking salary for an individual in that country for a specific position (based in part on hiring costs and social taxes), and working with Community Initiatives and the PEO Velocity G

[2021-04-21 17:28] tobyhodges commented on #30
This issue can be closed in favour of #22, since I merged these two issues together.

[2021-04-21 17:45] #16 closed

[2021-04-21 17:45] #30 closed

[2021-04-21 22:37] ErinBecker commented on #10
Publication of the Maintainer onboarding curriculum is planned for early May, ahead of the next round of Maintainer recruitment and onboarding in June/July.

[2021-04-21 22:40] ErinBecker commented on #21
We have an established process for Maintainer recruitment, including an Asana project template, template emails, an application form, and blog post templates.

We do not yet have the same products for Maintainer retirement process, which is dependent on development of the Maintainer volunteer agreement, in discussion by Maintainers at [this RFC](https://github.com/carpentries/maintainer-RFCs/issue

[2021-04-21 22:42] ErinBecker commented on #29
The Curriculum Team is in the process of planning a quarterly project to begin working on this item - to start in Q3 2021 (July - September).

[2021-04-22 12:31] tobyhodges commented on #22
We have been working on a guide for individuals with pre-exisiting lessons in other formats, summarising how to convert that material to (R)Markdown and incorporate it into The Carpentries lesson template. [A pull request is currently under review](https://github.com/carpentries/curriculum-development/pull/67) to add this material as an appendix to the Curriculum Development Handbook.

A list of l

[2021-04-22 12:38] tobyhodges commented on #19
@zkamvar has begun alpha testing of the template prototype, with further testing phases expected in the coming months. Testing and refinement of the template will be an ongoing process (see the constant evolution of the current template as an example of this) but I will revisit and mark this item as complete when the defined alpha and beta testing phases have been completed.

More complete checkli

[2021-04-27 15:28] tobyhodges commented on #22
Marking this one complete now that [the _Adapting Existing Lessons for The Carpentries_ appendix to the Curriculum Development Handbook](https://cdh.carpentries.org/adapting-existing-lessons-for-the-carpentries.html) has been published.

[2021-04-28 18:51] kariljordan commented on #34
Note from @ErinBecker: Sher and I discussed this at our meeting this week. My interpretation is that much of this work is already being done, but by different teams and not in a coordinated way that will make it easy to report back on progress to the EC. I talked with Sher about the work I am aware of already being done on these various items and asked her to get in touch with the individuals lead

[2021-04-30 16:19] karenword commented on #50
We plan to begin work on an EIA [bonus module](https://github.com/carpentries/strategic-plan/issues/35) in Q3 2021.

[2021-05-05 17:27] ErinBecker commented on #10
Labelling as both Q2 and Q3 2021, as work will be finished in Q3 but a lot of the work will happen in Q2.

[2021-05-06 08:42] tobyhodges commented on #19
I have merged the tasks described here into the other open issue on this topic, #22, to make it easier to track progress on The Carpentries Incubator project as a whole. I will close this in favour of that unified Issue.

[2021-05-06 08:42] #19 closed

[2021-05-06 10:37] serahkiburu commented on #25
In the first phase of the Community Facilitators Program, we
- [launched and announced the program](https://carpentries.org/blog/2020/09/introducing-community-facilitators-program/) to our community,
- [developed resources to onboard and support Feedback Facilitators](https://carpentries.github.io/community-facilitators-program/02-0-feedback-facilitation/index.html) in The Carpentries,
- [put out

[2021-05-06 10:43] serahkiburu commented on #25
In the second phase of the Community Facilitators Program,
- we have been drafting the Code of Conduct module to train and onboard community members interested in serving as a bridge between the Code of Conduct committee and the rest of the community. We hope to [publish the module here on GitHub](https://carpentries.github.io/community-facilitators-program/03-0-code-of-conduct-facilitation/index.

[2021-05-06 10:51] serahkiburu commented on #27
On May 3 2021, we kicked-off work with a designer with the following objectives:

The new Carpentries website should:
- **Prioritise discoverability**. The new website should make it as easy as possible for community members to find the information they need and act on it to accomplish their goals with little to no extra help from others.
- **Reflect who we are and what we do**. Users of the websi

[2021-05-06 16:24] tobyhodges commented on #49
Update from @zkamvar regarding lesson translation: In early testing, the lesson template prototype was found to be easily compatible with existing community-developed translation tools that are actively being used in our community.

[2021-05-06 20:34] Al-Obayuwana commented on #48
By the end of Q2 we will have on boarding package and email templates complete

[2021-05-06 20:57] fmichonneau commented on #36
We are continuing to put into place the systems and processes that will ensure our compliance with Privacy Laws.
We have completed the account inventory and developed a system to audit ownership of the files hosted in The Carpentries's Google Drive.

We are working to add features to AMY that will allow us to archive the profile of users who are inactive with us and remind users to update their pe

[2021-05-06 21:01] fmichonneau commented on #31
The work that Zhian is doing on the lesson template will greatly simplify the tooling and mechanics for proposing changes to the lesson, in turn making them more accessible.

We have worked during Q1 2021 with a UX/UI Designer to revamp our lesson template and ensure its accessibility.

Once the development of the next iteration of the template will have stabilized we will be able to develop resou

[2021-06-10 14:03] tobyhodges commented on #9
The alpha testing process is nearing completion for the new lesson infrastructure. @zkamvar has received feedback from community members with a range of different levels of familiarity with the tools and processes involved in creating a lesson. Zhian is incorporating this feedback as he continues with the development process. Alpha testing helped to identify a number of minor issues with the funct

[2021-06-14 08:19] lexnederbragt commented on #29
This item should also be considered in light of the ongoing work in the Executive Council Program committee on [Lesson Program Governance](https://github.com/carpentries-ec/conversations_ec_ed/issues/103).

[2021-06-14 08:19] lexnederbragt commented on #4
This item should also be considered in light of the ongoing work in the Executive Council Program committee on [Lesson Program Governance](https://github.com/carpentries-ec/conversations_ec_ed/issues/103).

[2021-06-18 17:50] Al-Obayuwana commented on #48
2 different 6- month emails have been composed for member organisations. We will work on revising our three month check in email and our 3 month before expiration email, this next quarter. Decision about new members preference for 1:1 or group on-boarding will be made in Q4, however we will start to collect feedback during Q3.

[2021-06-18 22:10] Al-Obayuwana commented on #52
Working on editing and revising the draft [workflow ](https://docs.google.com/document/d/1F8qtagtXk-WtiIgpAtBY5t6Hg2rE5LClaEfee26z70w/edit#heading=h.u0gidtoxc0ez)for membership processing in Q3. We are also working on a project plan for the membership pricing structure, this is also a Q3 project.

[2021-06-24 19:41] sheraaronhurt commented on #34
[Here is the link](https://docs.google.com/spreadsheets/d/1-MW-aZ8LqTvqxFJm3XqQHXExMMvglOvB1jgv_zVa_dc/edit#gid=0) that has the tentative schedule for completing each item provided by the Team Leads.

[2021-06-24 22:36] kariljordan commented on #45
@lexnederbragt can you update this issue per the EC's stance on approving committees/task forces?

[2021-06-24 22:38] kariljordan commented on #35
@karenword can we open a separate issue to track the work on new bonus modules and close this one?

[2021-06-24 22:44] kariljordan commented on #24
Per conversations with our fiscal sponsor, we are putting time and resources into solidifying our volunteers roles, onboarding, and offboarding. The volunteer agreement is no longer a priority, and we will focus on #44, #45, and #45.

[2021-06-24 22:44] #24 closed

[2021-06-24 22:44] kariljordan commented on #23
@karenword can we close this now that the updates have been released?

[2021-06-25 19:56] karenword commented on #23
The updates have not yet been released -- they are only in beta testing with the Trainer community. I will respond to feedback from these initial workshops, then initiate a substantial PR campaign within the Trainer community before merging into the main repo and completing the release. I will close this issue at that time.

[2021-06-25 20:02] karenword commented on #35
I will close this issue. It may be most efficient to track the next Bonus Module in #50 since it is directly relevant there. Let me know if you think it would be better to open a new issue instead.

[2021-06-25 20:02] #35 closed

[2021-07-15 16:44] kariljordan commented on #36
In the second quarter of the year we made progress on transferring and registering trademarks for the organisation. Here is a breakdown of that information:

- Our Data Carpentry transfer to CI (US) has been recorded
- Our Software Carpentry transfer to CI (Canada) has been recorded
- We submitted paperwork to transfer the Software Carpentry trademark to the WIPO
- Our Software Carpentry trademark

[2021-07-15 16:47] kariljordan commented on #45
The Executive Council worked extensively to clarify its roles and responsibilities as it relates to the governance of the organization. Learn more in their [recently published blog post](https://carpentries.org/blog/2021/07/carpentries-governance/). In short, it is no longer a requirement for committees/task forces to be *approved* by the EC.

[2021-07-15 16:48] kariljordan commented on #46
The Executive Council worked extensively to clarify its roles and responsibilities as it relates to the governance of the organization. Learn more in their [recently published blog post](https://carpentries.org/blog/2021/07/carpentries-governance/).

[2021-07-16 09:29] tobyhodges commented on #18
Filtering and searching functionality was [added to the Help Wanted page in May](https://github.com/carpentries/carpentries.org/pull/1074). It can still be improved, for example by providing a way for people to link to a pre-filtered table, but I believe this issue can be closed now.

[2021-07-22 17:50] acrall commented on #27
Is this currently out of the hands of the CDT until the web designer has finished her work?

[2021-07-26 23:50] kariljordan commented on #27
@kmomar is the CDT representative who is helping with the redesign. Once the web designer is finished, we will have a developer code the website, and that will be the end of phase 3 @acrall.

[2021-07-27 15:05] fmichonneau commented on #36
Several new features have been integrated into AMY (lesson archival, revamp of the consent system) or will be soon (reminder to update personal information, automated archival of inactive instructors) to improve our compliance with privacy laws.

Work on drafting our policies to improve our GDPR compliance continues. We are aiming to release our T&C and privacy policies by the end of Q3.

[2021-07-29 10:10] fmichonneau commented on #31
The work on the accessibility of our lessons and lesson contributions is continuing. Zhian is improving the user experience for lesson authors and contributors with the suite of packages that builds the foundation of our lesson infrastructure ([see his talk at useR!2021](https://teamup.com/event/show/id/Y83KVafYovjbMrMJvq2o5HVwyJFNrq)).

We are also currently looking for a web developer and access

[2021-09-29 17:30] kariljordan commented on #45
The EC’s decision-making transparency led to a change in the [Committee Policy (in Handbook)](https://docs.carpentries.org/topic_folders/governance/committee-policy.html) where the EC no longer needs to approve all committees. The handbook will be updated to reflect this information. The EC received feedback about the committee and task force policy in general, and that feedback still needs to be

[2021-09-29 17:45] kariljordan commented on #53
The following is a brief report of the outcomes from the September Equity Council Meeting.

Attendees

- Alycia Crall (she/her), The Carpentries
- Kari L. Jordan (she/her), The Carpentries
- Erin Becker (she/her), The Carpentries
- Karen Word (she/her), The Carpentries
- Sher! Hurt (she/her), The Carpentries
- Michael D. Smith (he/him), The Carpentries Executive Council
- Gerica Brown (she/her), N

[2021-10-05 14:08] ErinBecker commented on #10
The Maintainer Onboarding curriculum [was published](https://zenodo.org/record/5504403#.YVxcA0bMKv5) 13 September. Still remaining on this issue is updating the onboarding process in the handbook. Changing tag to Q4 to reflect that final item will be completed in this quarter.

[2021-10-05 14:09] Al-Obayuwana commented on #48
Updating workflow to reduce redundancies, fixing templates and custom emails to provide a better user experience. Looking at creating a mentorship program as well through Legacy members.

[2021-10-05 14:09] fmichonneau commented on #31
The web developer will deliver the next version of the lesson template at the end of November 2021. It should then take a few weeks for Zhian to include these changes into the infrastructure he has been building. We should then be able to launch the beta version of the lesson template by the end of 2021.

The web development company building the lesson template is a leader in web accessibility so

[2021-10-05 14:10] karenword commented on #23
Feedback has been addressed and (finally) merged within the data-lessons repository. Surveys regarding updates will go out to Trainers this week. Assuming no overwhelming signs of concern about the updates, we should be ready to return to the main repository by the end of October.

[2021-10-05 14:12] ErinBecker commented on #29
[Roles and responsibilities](https://docs.carpentries.org/topic_folders/lesson_development/lesson_development_roles.html) for the CACs have been updated in the handbook, including formal roles for committee Chair and Secretary. The Maintainers community has also supported development of a [CAC Consultation Rubric](https://docs.carpentries.org/topic_folders/lesson_development/cac-consult-rubric.htm

[2021-10-05 14:12] karenword commented on #44
This group has been preparing to deliver its first annual report to the Executive Council. They are currently supporting an overhaul of the Trainer Agreement and after that will be focused on the second annual election.

[2021-10-05 14:13] Al-Obayuwana commented on #52
Workflow has been updated, final draft and new templates are being created. The new pricing structure should be approved today barring any setbacks.

[2021-10-05 14:13] #18 closed, assigned to tobyhodges, ErinBecker

[2021-10-05 14:14] fmichonneau commented on #36
Most of the work needed in AMY for us to be compliant with privacy laws has now been implemented.
Our DPIA (Data Protection Impact Assessment) template and overall strategy have been drafted.
We are finally ready to publicly release our updated Privacy Policy and Terms & Conditions in the next few weeks.

[2021-10-05 14:14] sheraaronhurt commented on #34
The link provided above is the deliverable for this issue. All of the items are still being worked on by the individual teams.

[2021-10-05 14:15] fmichonneau commented on #9
We will have the new template ready to use with Zhian's infrastructure by the end of November so we can expect a beta launch of the lesson template for the Carpentries Incubator before the end of 2021.

[2021-10-05 14:15] ErinBecker commented on #21
No progress on development of a Maintainer retirement process. This quarter focused on onboarding new Maintainers and developing the CAC roles and responsibilities. Work on this issue will restart in Q4. Changing tag to reflect updated timeline.

[2021-10-05 14:16] kariljordan commented on #29
Thanks, @ErinBecker! You can close this issue and make updates to #45 which is about solidifying community leadership roles.

[2021-10-05 14:17] fmichonneau commented on #49
We are doing a new community contribution drive to Glosario for Hacktoberfest 2021.

We have a better workflow to communicate with community volunteers interested in translation and internationalization efforts, and we are looking at funding opportunities to better support this work.

[2021-10-05 14:17] karenword commented on #50
The timeline for the bonus module has been extended substantially to accommodate support from the Equity Council established by the Sloan grant. However, the Equity Council has met once and has provided feedback on the new [episode on Equity, Inclusion, and Accessibility](https://data-lessons.github.io/instructor-training/09-eia/index.html) in the updated curriculum. This feedback has been address

[2021-10-05 14:19] fmichonneau commented on #27
The web designer will deliver the final product of the work next week. After that, we will work with a web developer to create a template that we can use for our main website, and that will be a starting point to harmonize our visual identity across all our sites.

[2021-10-05 22:10] kariljordan commented on #34
@sheraaronhurt the roadmap is linked, however, the improved instructor sign-up workflow is a work in progress. I will update the label for this issue to add Q4.

[2021-10-05 22:12] kariljordan commented on #49
For reference, here is the announcement for Hacktoberfest: [Hacktoberfest 2021 - Glosario Contribution Drive](https://carpentries.org/blog/2021/10/hacktoberfest-2021/)

[2021-10-11 21:21] #29 closed, assigned to tobyhodges, ErinBecker

[2021-10-11 21:24] ErinBecker commented on #45
I am currently working to [establish and formalize Curriculum Advisory Committees](https://carpentries.org/blog/2021/08/reactivating-curriculum-advisory-committees/) for each of our official curricula. Recruitment is underway and will wrap up the end of October. New committee members will be onboarded in November. Onboarding is being developed and will be added to [Handbook](https://docs.carpentri

[2021-10-11 21:31] ErinBecker commented on #22
@zkamvar is leading development of the new template, which is currently going into beta testing.

Before going on leave, Toby developed [a landing page](https://carpentries-incubator.org/) for The Carpentries Incubator, and established a recurring "Incubator spotlight" feature for the blog. He also created a [script for pulling engagement metrics](https://github.com/carpentries-incubator/incubator

[2021-10-18 21:09] acrall commented on #25
This program is being restructured to align with the Champions and Regional Coordinators programs. Blog post announcing this can be found [here](https://carpentries.org/blog/2021/10/announcing-community-development-program/).

[2021-10-19 13:42] elletjies commented on #49
Quoting Kari in [this](https://carpentries.org/blog/2021/07/Highlighting-our-strategic-plan-efforts-to-support-local-community-building/) blog post in reference to CarpentryConnect South Africa 2021 :

"Goal 2: Intentionally incorporate equity, inclusion, and accessibility to support a diverse community.

Thanks to the generous support from the Code for Science & Society Event Fund, we are able to

[2021-10-19 13:43] acrall commented on #47
From CDT meeting discussion, we are currently working on the website work to be finished before completing these tasks

[2021-10-19 13:46] elletjies commented on #26
Linking to Kari's blog post (Highlighting our strategic plan efforts to support local community building) - https://carpentries.org/blog/2021/07/Highlighting-our-strategic-plan-efforts-to-support-local-community-building/

"The main goal of CarpentryConnect South Africa is to build capacity for workshops through instructor training, and establish a network for this regional Carpentries community.

[2021-10-20 20:42] kariljordan commented on #51
The Sponsorship Program pilot was announced on our blog on October 11, 2021. [Here is the announcement](https://carpentries.org/blog/2021/10/announcing-carpentries-sponsorship-program/).

[2021-10-22 18:45] acrall commented on #45
I am working with @sheraaronhurt to transition the Instructor Development Committee (IDC) from the Community Development Team (CDT)nto the Workshop Admin Team (WAT). Current IDC members will be offboarded at the end of October 2021 and a new annual onboarding process will be developed and initiated in January 2022. The plan is to recruit and select new members to be onboarded in February 2022. Sta

[2021-10-22 18:54] acrall commented on #26
Australia and New Zealand are also planning a regional CarpentryConnect event in November 2021. The CDT plans to develop a process for allowing community members to register their events so we can effectively promote through our channels and to also follow up with hosts of these events following their completion to get feedback.

[2021-12-07 18:49] kariljordan commented on #4
@lexnederbragt after the December EC meeting can you update this issue?

[2021-12-07 18:50] kariljordan commented on #46
@lexnederbragt let's update this issue after the December EC meeting.

[2021-12-17 10:12] fmichonneau commented on #31
The accessibility audit of the new lesson template is almost complete and Zhian will be able to start incorporating the new template in the lesson infrastructure tooling in early 2022. During the first quarters of 2022, we will work on beta testing the new lesson template on a subset of our lessons and create a timeline for switching all our lessons to the new infrastructure.

Additionally, we hav

[2021-12-17 10:15] fmichonneau commented on #36
The final blocking feature to release the new privacy policy will be merged in AMY before the end of the year. We should then be able to publish our new privacy policy in January 2022.

[2021-12-21 20:16] sheraaronhurt commented on #34
The WAT is progressing forward with the instructor sign-up workflow. This will be completed and implemented by April 2022

[2022-01-01 19:38] kariljordan commented on #46
The EC standing committee structure was [added to the handbook](https://github.com/carpentries/docs.carpentries.org/pull/727) on May 26, 2021. On 2021-12-21 the EC voted to transition from monthly to quarterly meetings, using Standing Committees as a way to work on EC tasks between meetings. This issue is now complete.

[2022-01-01 19:38] #46 closed

[2022-01-03 13:30] lexnederbragt commented on #4
At the 2021-12-21 Executive Council meeting, the new Lesson Program Governance policy was approved. It was implemented as a set of changes to the handbook in https://github.com/carpentries/docs.carpentries.org/pull/809.

[2022-01-25 17:17] fmichonneau commented on #36
The new privacy policy has been released on January 15th, 2022.

[2022-01-31 14:42] kariljordan commented on #36
Thank you @fmichonneau! Can you check off all of the tasks that are complete in the opening comment of this issue?

[2022-02-03 09:22] tobyhodges commented on #22
@zkamvar ran alpha tests with members of the community and recently [announced the first draft of The Carpentries Workbench](https://carpentries.org/blog/2022/01/live-lesson-infrastructure/). Testing will continue in the beta phase, but I believe we have made enough progress to mark this task completed: the prototype was alpha tested and modified according to feedback received; beta testing will b

[2022-02-03 09:22] #22 closed

[2022-02-09 20:16] #10 closed

[2022-02-09 21:10] #51 closed

[2022-02-09 21:18] kariljordan commented on #49
We have made significant progress in our efforts to improve participation and contributions for ESL community members. In order to truly focus our efforts in this area, we need additional personnel. @fmichonneau is working on a grant that will include hiring a dedicated staff member for these efforts. For the purposes of this issue, we have done well with tracking translation efforts. We will open

[2022-02-09 21:19] kariljordan commented on #47
This effort does not align with our 2022 Operational Priorities, so it is being moved to our strategic plan roadmap for next year. I will close this issue now and we can reopen it next year.

[2022-02-09 22:20] zkamvar commented on #9
We received the final template near the end of December 2021. Progress was made to incorporate the template into our infrastructure by mid-January, and The Carpentries Workbench was officially announced on 2022-01-31: https://carpentries.org/blog/2022/01/live-lesson-infrastructure/. The new frontend is rated to WCAG AAA standards on readability and contrast. It follows recommended guidelines for l

[2022-02-11 14:26] tobyhodges commented on #21
In Q4 we prepared the ground for a first step towards a retirement process for Maintainers: a single-question opt-in survey for Maintainers to tell us if they wish to remain active on their lesson. [This is the RFC for that process](https://github.com/carpentries/maintainer-RFCs/issues/19), which is currently ongoing.

[2022-02-15 19:57] ErinBecker commented on #21
This work will be completed in Q2 2022 with the creation of templates and workflows for retirement and recruitment.

[2022-02-17 19:07] sheraaronhurt commented on #45
The Roles & Responsibilities have been updated for the IDC in [the handbook](https://docs.carpentries.org/topic_folders/instructor_development/instructor_development_committee.html#instructor-development-committee-roles) as of January 1, 2022.

[2022-02-19 02:31] kariljordan commented on #45
Thanks so much @sheraaronhurt! Once [this PR](https://github.com/carpentries/carpentries.org/pull/1286) is approved and merged we will have documentation for all of our active community leadership and this issue will be closed.

[2022-04-12 19:55] acrall commented on #25
Closing this issue because restructuring into Community Development Program

[2022-04-12 19:55] #25 closed

[2022-04-13 00:51] acrall opened #54 "Develop the Community Development Program"
[Goal 1](https://github.com/carpentries/strategic-plan/blob/master/STRATEGIC-PLAN.md#goal-1-build-regional-and-local-capacity-to-empower-sustainable-communities) is to _**Build regional and local capacity to empower sustainable communities.**_ One of the objectives under goal 1 is:

- Create and implement a program for developing Local Leadership, including mentorship for new Leaders, communicatio

[2022-04-13 00:53] acrall commented on #54
@kariljordan Let me know if this needs additional context

[2022-04-13 21:54] kariljordan commented on #54
I updated the opening comment with a little more context. Thank you!

[2022-05-24 17:59] karenword commented on #44
This group was approved by the Executive Council on May 9, 2022.

[2022-05-24 17:59] #44 closed

[2022-06-02 14:29] kariljordan commented on #1
Here are the board and advisory committees that I serve on (as of 2024-04-30):
- Code for Science & Society (CS&S), Board Member
- Generalist Repository Ecosystem Initiative ([GREI](https://datascience.nih.gov/data-ecosystem/generalist-repository-ecosystem-initiative)) Working Group of the [Council of Councils](https://dpcpsi.nih.gov/)

Here are the boards and advisory committees I have served on

[2022-06-02 14:34] kariljordan commented on #3
I've linked presentations that I've given on behalf of The Carpentries (as of 2024-04-30).

▪ [BREAKING BARRIERS, BUILDING BRIDGES: OPEN SCIENCE, EQUITY, & INCLUSION IN THE DATA REVOLUTION](https://drive.google.com/file/d/159mnt80r9b2jX0ZOSGOofbAjdlcwJ0Lz/view), OPENING PLENARY, ESIP 2023
- [Black Hair and Data Science Have More In Common Than You Think](https://www.canva.com/design/DAFpkAu3F3s/bX

[2022-06-02 15:05] kariljordan commented on #15
We now have a [membership onboarding packet](https://docs.google.com/document/d/1UQA_bRrFVsjCHuosIz6IoT1RHclvuu3rGx1d2PUsKaU/edit) that is sent to new members with information about how to use their benefits. We have piloted a more involved membership onboarding for the 5 seed IMLS members which includes face-to-face meetings with the ED ([link to slide deck](https://docs.google.com/presentation/d

[2022-06-02 15:11] kariljordan commented on #48
Comment from Alycia in the Google doc version of the strategic plan roadmap: "Would like to work with Membership team to see how we can tie this into CDP."

@ErinBecker can you provide an update for this issue and whether the objective from our strategic plan is complete?

[2022-06-02 15:19] kariljordan commented on #9
Regarding closing this issue, @tobyhodges commented in the strategic plan roadmap: "On the other hand, it overlaps in a slightly fuzzy way with "Empower Community members to develop lessons by lowering barriers to contributing to The Carpentries Incubator program and making the lesson development and release process more transparent" for year 3 - maybe we can leave this marked as complete, on the

[2022-06-02 16:29] kariljordan commented on #5
François is leading a project on GDPR compliance. That information is being tracked in #36

[2022-06-02 16:35] kariljordan commented on #4
Reopening this issue per the comment below from @tobyhodges:

"I don't think this is complete. The EC approved the Lesson Program Governance policy, and added it to the Handbook, but we have not yet established that Lesson Program Governance. The Curriculum Team has this planned for the second half of 2022."

[2022-06-02 21:34] zkamvar commented on #9
Yes, we can close this issue.

The workbench is now in the beta phase of testing (https://carpentries.org/blog/2022/05/workbench-beta/) and there are currently several lessons that use (and have been using) the workbench, thus, it is out of prototype stage.

[2022-06-02 21:34] #9 closed, assigned to zkamvar, fmichonneau

[2022-06-02 21:39] zkamvar commented on #31
We have incorporated accessible HTML, CSS, and JavaScript that was contracted in 2021 into the new lesson infrastructure in January 2022 (https://carpentries.org/blog/2022/01/live-lesson-infrastructure/). Pre-flight accessibility checks for links (descriptive text and alternative text for images) have been added to the workbench.

We are still exploring methods for automated testing of these compo

[2022-06-02 21:48] zkamvar commented on #3
- (July 2021) UseR! 2021 talk that framed the development of our lesson infrastructure in the light of our core values:
  - [video link](https://youtu.be/vd8XZSuY_Rs?t=1259)
  - [slides: Using R as a Community Workbench for The Carpentries Lesson Infrastructure](https://zkamvar.github.io/user2021)
- (July 2022) RStudio Conference 2022 talk that presented the features of The Carpentries Workbench a

[2022-06-03 16:33] ErinBecker commented on #48
Onboarding for Member Organisations now includes the following:
- Member onboarding packet sent by email upon completion of membership paperwork. This includes information about Instructor Training, Workshops, Member Council meetings, the Code of Conduct, and communication channels. These emails are included in the automation project @maneesha, @Talishask and @elletjies have been working on and wi

[2022-06-03 16:55] ErinBecker commented on #21
We have completed the first round of Maintainer Retirement, which will happen yearly starting in January. [Template emails and a workflow](https://docs.google.com/document/d/14rFlc6-BSleBh--CXQvUkgQZJxxXjXAn_w6R0CpeJJc/) have been developed for retirement, and will be adapted / improved in future cycles.

Maintainer recruitment and onboarding is underway and will occur at a minimum every year foll

[2022-06-03 16:55] #21 closed

[2022-06-03 17:46] ErinBecker commented on #52
The [new pricing model](https://carpentries.org/membership/) was [announced](https://carpentries.org/blog/2021/11/membership-pricing-update/) in November 2021 and [went into effect](https://carpentries.org/blog/2022/01/new-prices-in-effect/) in January. Our [membership workflow](https://docs.google.com/document/d/1F8qtagtXk-WtiIgpAtBY5t6Hg2rE5LClaEfee26z70w/edit#heading=h.o8un9iv0q603) has been up

[2022-06-03 17:46] #52 closed

[2022-06-03 20:52] kariljordan opened #55 "Identifying areas for effective and appropriate automation"
[Goal 5](https://github.com/carpentries/strategic-plan#goal-5-strengthen-organisational-structure-and-capacity-to-be-strategic-and-responsive) of The Carpentries Strategic Plan reads: Strengthen organisational structure and capacity to be strategic and responsive.

One objectives under this goal is:

1. Establish workflow and documentation for our essential ongoing processes (e.g. budget creation

[2022-06-03 20:55] kariljordan commented on #53
Per @ErinBecker: We have an Equity Council, but there work is limited in scope and does not include advising on our administrative processes. We did receive consulting from Understood on accessibility of our processes, including employment. Brynn (Accessibility Manager) is working through Understood's recommendations and creating an action plan.

[2022-06-03 20:55] #53 closed

[2022-06-03 21:19] kariljordan opened #56 "Training and Developing Core Team Members"
[Goal 3](https://github.com/carpentries/strategic-plan/blob/main/STRATEGIC-PLAN.md#goal-3-provide-opportunities-for-growth-and-professional-development-of-our-volunteers-and-core-team) of the Carpentries Strategic Plan is to _**Provide opportunities for growth and professional development of our volunteers and Core Team.**_ One of the objectives under this goal is:

- Create structures and pathway

[2022-06-03 21:22] kariljordan commented on #56
Following up on feedback from the annual performance review, we announced that Core Team members have the opportunity to participate in complimentary coaching through the non-profit [Coaching For Everyone](https://coachingforeveryone.org/). CFE is a 501c3 nonprofit organization, designed to provide complimentary coaching and leadership services to traditionally under-resourced populations, particu

[2022-06-03 21:25] kariljordan commented on #56
Thanks to [funding we received from the Chan Zuckerberg Initiative](https://carpentries.org/blog/2022/01/executive-director-new-years-message/), we are working with Tara Robertson to co-design an article discussion group and facilitate up to 4 article discussion group sessions for The Carpentries Team Leads to build knowledge, understanding and capacity to apply an Equity, Inclusion, and Accessibi

[2022-06-03 21:27] kariljordan commented on #56
In February 2022 @ErinBecker developed a Team Lead Development schedule through September 2022. Team Leads watch professional development videos from CZI's Movement & Capacity Building team and come together during meetings to discuss what we learned and how to apply it to leading The Carpentries programmatic teams.

[2022-06-03 21:29] kariljordan commented on #56
Related, issue #3 tracks speaking and presenting on behalf of The Carpentries which is another development strategy.

[2022-06-03 21:32] kariljordan commented on #54
GOAL 2 of the strategic plan reads: **_Intentionally incorporate equity, inclusion, and accessibility to support a diverse community._** One of the objectives in this goal is: **_Develop a program for supporting community growth and training in under-resourced institutions and communities and in new geographical regions._**

@acrall @ErinBecker what are your thoughts on whether the CDP aligns with

[2022-06-07 14:18] kariljordan commented on #26
There are currently no CarpentryConnects being planned for which the kit is being piloted. @elletjies has been updating the kit with lessons learned from the South African event. This issue is now complete.

[2022-06-07 14:18] #26 closed

[2022-06-07 14:29] tobyhodges commented on #3
- (May 2022) gave a short talk, titled _The Carpentries: Benefits of a collaborative approach to RS skills training_, at the [_Future Opportunities for Software in Research_](https://workshops.evolbio.mpg.de/event/54/). This ended up as a recording shared with the attendees, after time ran out in the event session itself.
  - [slides](https://docs.google.com/presentation/d/1ImW5RWbsVpGWfGaRYdEztmD

[2022-06-08 06:38] elletjies commented on #3
- (Oct 2020) - [The Carpentries in South Africa](https://docs.google.com/presentation/d/10B2OhjZt5AqrDLwewM3bH5chfMY2-pYoFqXQyOe0TMs/edit#slide=id.p), University of Western Cape, Open Access week
- (June 2021) - [The Carpentries: An open access community](https://docs.google.com/presentation/d/1i3uqtXphjGwvlPL1mSkJ_DrXJRFtkdZbneeo4y4AOew/edit#slide=id.gde6511c9e8_0_126), H3ABioNet Seminar
- (Aug 2

[2022-06-08 13:02] elletjies commented on #39
The retrospective for [The Carpentries in Africa 2021](https://drive.google.com/file/d/1VlaQsg0RmIFFA2yX4j0ybv9a1G5szcEb/view?usp=sharing)

[2022-06-09 06:42] elletjies commented on #1
Here are the board and advisory committees that I serve on:

- CS&S Event Fund Selection Committee (incoming 2022 - date)
- SADiLaR External Evaluation Panel 2022
- Stellenbosch University RSE Special Interest Group 2022-date
- CODATA Pretoria Summerschool Advisor 2020/2021
- Extraordinary Researcher, Optentia Research Unit, North-West University, South Africa, 2018 to date
- Member of African Rep

[2022-06-09 06:43] elletjies commented on #2
Here is a document I track [partnering with organisations and individuals in Africa](https://docs.google.com/document/d/1B2Yj9xd2ZD0cAROn0nvpZ4xyr51-yQKjykVhrSmGCjc/edit). This is a working document updated monthly.

[2022-06-10 15:48] sheraaronhurt commented on #34
This project is progressing forward nicely! @maneesha conducted a demo for the team on Thursday, June 9th and have identified Instructors to test and provide feedback. The timeline for moving forward is as follows:

- By June 24: Review by CoreTeam and Instructors
- June 27-July 1: Maneesha reviews and consolidates feedback to give to Piotr
- Month of July: Piotr makes changes based on our feedbac

[2022-06-10 16:02] karenword commented on #23
Updated curriculum was [released](https://github.com/carpentries/instructor-training/releases/tag/v2021.11.18-1) 17 Nov, 2021

[2022-06-10 16:02] #23 closed

[2022-06-13 15:21] maneesha commented on #55
~Leaving this as a placeholder for now - I'll come back later to update details.~
EDIT: Details for each project are in a separate comment below (except for the workshop survey results)

**Automation projects, April 2020 to present**

- [ ] Automated emails for workshops (2020 Q3)
- [ ] Automated emails for memberships (2022 Q2)
- [x] Instructor selection (2021-2022)
- [x] Instructor training plan

[2022-06-20 18:59] maneesha commented on #55
## Automated emails for workshops

**Context:**
Workshop administrators have standard template emails that they send out to workshop Hosts, Organisers, Instructors, and Helpers.  These emails include information such as introductions of people serving various roles, reminders about the workshop website and survey, and post-workshop follow ups.  The emails all contained the same information, custom

[2022-06-20 19:01] maneesha commented on #55
## Automated emails for memberships

**Context:**
When a new membership is signed, the Membership Team has a standard template they use to send to site contacts including information on how to request workshops, instructor training, as well as general information about The Carpentries.  Because the email content was generally the same, it was a tedious task to draft the same emails for each member

[2022-06-20 19:13] maneesha commented on #55
## Instructor selection

**Context:**
Currently when a new [workshop request](https://amy.carpentries.org/forms/workshop/) comes in, if it needs us to recruit Instructors, the Workshop Administrator manually enters the necessary information into a [spreadsheet](https://docs.google.com/spreadsheets/d/1YhTAzEalDqKUowgej7aRa7E1K0XcB6ZezoVUt6VN2qY/edit#gid=0) and sends a call out to our [Instructors m

[2022-06-20 19:58] maneesha commented on #55
## Open Training Invitations

**Context:**
When new applicants were accepted through our open application program, a team member would periodically send them reminders to register for instructor training.  This was done by manually querying accepted applicants in AMY, pasting emails in Helpscout, and sending mass email to all participants linking to our current calendar. Because Helpscout limits e

[2022-06-20 20:08] maneesha commented on #55
## Instructor training planning for automations

**Context**
Instructor Training administrative workflows are fragmented and time-consuming. Many of the most time-consuming steps could be automated. With Kelly stepping into another role in 2022 and many pressing needs for staff time elsewhere, improving efficiency with automation to the greatest extent possible is necessary and urgent. Several nex

[2022-06-20 20:21] maneesha commented on #55
## Instructor training communications overhaul

**Context**
The communications experience of a Trainee from first expressing interest in Instructor Training through certification and the associated Instructor Training Team workflows have developed organically over time. The process includes many touch points between trainees, Trainers, and The Carpentries Core Team. Frequent questions from Trainee

[2022-06-20 20:30] maneesha commented on #55
## Instructor certificates in Helpscout

**Context**
Instructor Certificates are generated and saved in a private GitHub repo. Approximately once a week, a Core Team member would send out certificates to all newly badged Instructor via a local script on their computer.  There was no log of this, so we had no way to respond if a newly badged Instructor wanted to know if their certificate was sent o

[2022-06-20 20:39] maneesha commented on #55
## Instructor training - checkout contribution directly in AMY

**Context**
One of the three steps towards instructor training certification is a contribution to a Carpentries repo. This includes doing the following:

1. Review the email
2. Look up the profile in AMY
3. Copy and paste the url to the contribution from email to AMY
4. Mark it as passed
5. Reply to the email.

**New System**
AMY has

[2022-06-21 17:51] maneesha commented on #55
## Scheduling teaching demos and community discussions

**Context**
Long ago, teaching demos and community discussions were scheduled at fixed times each week.  This meant they did not account for the availability of Trainers and Discussion Hosts to run these sessions, and did not give community members enough variety of time slots to choose from.

**New System**
In 2019, we began using Calendly s

[2022-06-27 14:58] fmichonneau commented on #55
## Workshop survey results

**Context**
To give access to the pre- and post-workshop survey results, we used to rely on SurveyMonkey featured. It required manual work as a link needed to be generated for each workshop based on the slug of the event.

**New System**
Starting in late 2019, we switched to a new system where the surveys for the workshops are captured in Typeform. The data is then sent

[2022-06-28 00:59] zkamvar commented on #55
## Lesson Website Automation: GitHub Actions

### Context

From 2015 to the present, Carpentries lessons were built on top of a Jekyll template called [carpentries/styles](https://github.com/carpentries/styles). The term "template" is a misnomer as it also contained the tools needed to build the lesson and these tools and stylings needed to be updated manually via pull request.

### New System

Th

[2022-06-29 20:55] sheraaronhurt commented on #3
- April 2019 - [Data Science Teaching Alternatives from The Carpentries,](https://www.youtube.com/watch?v=WErplOQWAEw) NSF INCLUDES Conference
- April 2021 -[ OOO (Open, Offering, Opporutnites) the possibilities](https://docs.google.com/presentation/d/1nMm5bxTIyRYQWum2UO1Zrc3pApcuiVmim2lrQn296fk/edit?usp=sharing), CZI - Seed Networking Computational Biology Meeting
- May 2021 - [The Carpentries: V

[2022-06-29 21:02] sheraaronhurt commented on #34
This project will be delayed. @maneesha is devising a new plan that will align with all of the upcoming changes including staffing and other technical projects that this will impact.

Once @maneesha provides a new timeline I will update it here.

[2022-07-01 17:00] karenword commented on #1
[moved to #3]

[2022-07-04 21:36] kariljordan commented on #1
@karenword can you please add your comment with a link to your slides to #3? Thanks!

[2022-07-05 19:28] acrall commented on #54
The glossary of terms has been developed and reviewed by members of the Core Team. It was also brought to the community at the Community Development Program Q2 meeting for review and discussion. We are now working to identify where the glossary should live on GitHub, considering the website redesign. Once a location has been identified, we will be adding it to the website and sharing broadly. The

[2022-07-05 19:30] acrall commented on #54
@kariljordan, in response to your question above, I do think the CDP aligns with that particular objective. Details are still being discussed but this also overlaps with the IUSE and data sovereignty module development discussions

[2022-07-08 20:41] karenword commented on #3
April 2020 - [Taking Carpentries Workshops Online: 'Tried and True' teaching in untested waters](https://docs.google.com/presentation/d/1hnSXEtEeBDYy16b-IzrKCsCc1i0IkxUraXSTerB2hbg/edit?usp=sharing), Pycon Trainers Summit
October 2020 - [Communities of Practice: Local and global support to cultivate software and data skills in research](https://docs.google.com/presentation/d/1XGjj2ZtDYcf9aHqkTvSKX

[2022-07-09 22:41] kariljordan commented on #50
@karenword can you provide an update on this issue?

[2022-07-09 22:46] kariljordan commented on #45
Closing this issue as we now have governing documents for all active committees and task forces (see [this PR](https://github.com/carpentries/carpentries.org/pull/1286)).

[2022-07-09 22:46] #45 closed

[2022-07-09 22:50] kariljordan commented on #27
The Carpentries is keen to improve accessibility across our interactions and resources. We approached this in three ways. Firstly, we engaged the community in a [conversation](https://github.com/carpentries/conversations/issues/26) about equitable access to and availability of platforms and tools used for collaboration in online communities. We collated feedback and populated accessibility related

[2022-07-11 10:47] maneesha commented on #55
@kariljordan I saw you just assigned this to me. Is there anything else you need beyond what's shared in the comments above?

[2022-07-11 13:52] tobyhodges commented on #49
Community members have been doing excellent work translating Carpentries lessons into several other lessons, e.g.

- https://github.com/swcarpentry-ja
- https://github.com/joelnitta/dovetail
- https://carpentries-i18n-handbook.readthedocs.io/

(Note: the list above is non-exhaustive.)

However, there are several reasons why we have chosen not to begin supporting translation of lessons from the Cor

[2022-07-11 14:34] kariljordan commented on #55
HI @maneesha, not at this time. I'm reassigning François' issues. Thank you so much.

[2022-07-12 21:39] acrall commented on #2
@kariljordan and I are part of a project leadership team supporting [a grant funded by the National Science Foundation, Improving Undergraduate STEM Education (IUSE) program](https://nsf.gov/awardsearch/showAward?AWD_ID=2135830&HistoricalAwards=false). This team includes partners from the [Academic Data Science Alliance](https://academicdatascience.org/), the [Native BioData Consortium](https://na

[2022-07-18 09:13] anenadic commented on #31
The work on https://github.com/carpentries/lesson-development-training also falls under this I believe - not just contributions to existing lessons but also creating new lessons and making that accessible. Loads of great work already done on this topic by @tobyhodges.

[2022-07-18 21:07] ErinBecker commented on #1
I joined iDigBio's external advisory board in August 2022 but was unable to attend their meeting in September as it was held on Rosh Hashanah.

[2022-09-09 18:18] sheraaronhurt commented on #34
Here is the tentative update for the project:

**September 5, 2022**
- Piotr will have implemented all the features requested above.

**September 5-16 2022**

-     Core Team will do a final review of the fixes Piotr has made.
-     Workshop Admin Team and Instructor Training Team will communicate with Instructors and Trainers that these changes are coming.
-     Maneesha will prepare queries and

[2022-09-13 15:01] kariljordan commented on #54
[The Carpentries Toolkit of IDEAS](https://zenodo.org/record/7041935#.YxEea_HMIq1) was published 1 September 2022.

The Toolkit of IDEAS (Inclusion, Diversity, Equity and Accessibility Strategies) is a practical resource for Carpentries’ Instructors, helpers, and workshop hosts. This resources bridges the gap between inclusion, diversity, equity and accessibility and teaching foundational coding a

[2022-09-13 15:08] kariljordan opened #57 "Workflow for Responding to Accessibility Information in Workshops"
[Goal 2](https://github.com/carpentries/strategic-plan/blob/master/STRATEGIC-PLAN.md#goal-2-intentionally-incorporate-equity-inclusion-and-accessibility-to-support-a-diverse-community) of the Carpentries Strategic Plan is to Intentionally incorporate equity, inclusion, and accessibility to support a diverse community. One of the objectives under this goal is to: **_Develop a workflow for respondin

[2022-09-13 17:35] kariljordan commented on #50
I am closing this and will reopen next year when we are actively working on the bonus module. The Equity Council did some brainstorming to work on learning objectives for a continuing education module, however we are not actively working on content for this module, so we will reopen this issue when the work is active.

[2022-09-13 17:35] #50 closed

[2022-09-13 17:42] kariljordan commented on #49
The Carpentries is applying to host an [ACLS Leading Edge Fellow](https://www.acls.org/competitions/acls-leading-edge-fellows-information-for-potential-host-organizations/). If selected, our fellow will join the Core Team for two years and be responsible for:

- Leading Curriculum and Community Development activities that support the translation of Carpentries training materials and community reso

[2022-09-13 18:20] sheraaronhurt commented on #57
This has been added to the [Workshop Admin Team Roadmap](https://app.asana.com/0/1202691289972063/1202691289972274). @brynnelliott will be leading these efforts. Work will begin on this is Q1 2023.

[2022-09-14 22:38] kariljordan commented on #34
@sheraaronhurt has added _**Develop a workflow for responding to accessibility needs of Learners/Instructorsthe**_ to the roadmap for the Workshop Admin Team. @brynnelliott is going to join an upcoming Team Lead meeting to refresh everyone on the list of accessibility improvements and to see how to ensure these items are in their roadmaps/on their radar to develop collaboration plans.

Now that we

[2022-09-14 22:38] #34 closed

[2022-09-22 12:58] tobyhodges commented on #3
September 2022: [Collaborative Lesson Development with The Carpentries Workbench](https://virtual.oxfordabstracts.com/#/event/public/3101/submission/7) (workshop presented by @zkamvar and me) and [The Carpentries Incubator & Lab: a pathway to peer-reviewed publication for open source lessons](https://virtual.oxfordabstracts.com/#/event/public/3101/submission/8) (poster) at RSECon22. [Community & I

[2022-10-17 18:59] sheraaronhurt commented on #1
- NASA Transform to OpenScience (TOPS) panel (2022-23)
- csv,conf 7 Planning Committee (2022-23)
- IMLS grant proposal titled An Investigation of Virtual Reality Initiatives and Workforce Development Outcomes in Libraries (2023-24)
- Michigan Technological University - Pavlis Honors College External Advisory Board (2023 - 2026)
- National Society of Black Engineers - Conference Planning Committee

[2022-10-17 19:15] sheraaronhurt commented on #3
Keynote @ IEEE conference (October 2022): [An Equitable Future for Computational Research](https://docs.google.com/presentation/d/1wv3KKvQ4laHPG0m1rQ36VXhneUvteA19/edit?usp=sharing&ouid=115305108268241343118&rtpof=true&sd=true)

[2022-10-28 16:02] acrall commented on #49
Two sessions on translations/internationalisation were held at CarpentryCon, 1-12 August 2022. The recordings are available on our YouTube channel: [Session 1](https://youtu.be/9zCrGda6p7Q); [Session 2](https://youtu.be/g5vyNVx4fdM)

[2022-10-28 16:06] acrall commented on #49
Funds have been budgeted for 2023 ($1,240 from Community Development Team; ~$10,000 from general) for the translation of some of our key resources (e.g., Code of Conduct)

[2022-11-02 17:48] kariljordan commented on #1
@ErinBecker I believe you joined iDigBio's external advisory board, didn't you?

[2022-11-03 19:33] kariljordan commented on #2
We submitted a [TransforME grant](https://www.lenovo.com/us/en/about/foundation?orgRef=https%253A%252F%252Fnews.lenovo.com%252F) through the Lenovo Foundation in collaboration with [Data.org](http://www.data.org/) and [Digital Frontiers](http://www.digitalfrontiers.org/) to strengthen the data in social sciences capabilities of at least 100 practitioners employed in social impact organizations in

[2022-11-07 22:18] ErinBecker commented on #1
@kariljordan - see update above :-)

[2022-11-15 19:53] ErinBecker commented on #38
Progress towards this goal includes:

- [x] Development of a new [job plan template](https://docs.google.com/document/d/151lNmd_xIVouaW7_493mvEJb35qU5u1buAHtJMGBnmg/edit) (complete November 2022).
- [x] Updating of all Core Team members job descriptions for consistency and accuracy (complete November 2022).
- [x] Creation of Roles and Responsibilities documents for each team (complete for 6 of 8 t

[2022-11-22 18:09] danielle06 commented on #3
November 2022 - EuSSI Training Bazaar -  presented on the new Instructor signup process in AMY and ways to get involved in The Carpentries after teaching - [EuSSI Training Bazaar Presentation](https://docs.google.com/presentation/d/1w_mQAJNOUiedLDJEsRuYGOAudpLDPrzJvlJojAsocIU/edit#slide=id.p)